<div class="page-header">
  <h1><%= @artist.name %><small></small></h1>
</div>

<%= link_to "Add Album", new_album_path, class: 'btn btn-primary btn-sm' %>

<br>

<% if @artist.albums.length > 0 %>
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Album Cover</th>
        <th>Album Name</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @artist.albums.each do |a| %>

          <tr>

            <td>
              <% if a.avatar %>
                  <%= image_tag(a.avatar(:medium), size: "80x80", alt: "Edit Entry") %>
              <% else %>
                  <%= image_tag("no_album.png", size: "80x80", alt: "Edit Entry") %>
              <% end %>

            </td>

            <td>
              <%= a.name %>
            </td>

            <td>

              <%= link_to "View", album_path(a), :class => 'btn btn-xs btn-primary' %>
              <%= link_to "Edit", edit_album_path(a), :class => 'btn btn-xs btn-warning' %>
              <%= link_to "Delete", album_path(a), method: :delete, :class => 'btn btn-xs btn-danger' %>

            </td>

          </tr>
      <% end %>

      </tbody>
    </table>
<% end %>